<nav class="nav nav-masthead justify-content-center">
	<a class="nav-link active" style="background-color: white;" href="index.html">Esileht</a> 
		<a class="nav-link" href="book_list.html" id="unauthUserBooksLink">Raamatud</a>
		<a class="nav-link" href="userlogin.html"id="userBooksLink" style="display: none;" >Raamatud</a>
		<a class="nav-link" href="books.html" id="adminBooksLink" style="display: none;">Administraator</a>
		<a class="nav-link" href="adminoverview.html" id="adminOverviewLink" style="display: none;">Liikmete laenutused</a>
		
		
</nav>
